
@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('./fonts/AvenirNextLTPro-Regular.otf') format('woff');
  }

  body{
      font-family: 'AvenirNextLTPro-Regular'!important;
      font-size: 12px;
  }

  